{% extends 'base.html' %}
{% block title %}
Scan
{% endblock %}

{% block content  %}
  
<form method="POST"  class="form" action="{% url 'location' %}">
  <div class="form-row align-items-center">
        {% csrf_token %} <div class="input-group">
      <input class="form-control" id="json_file_field" name="scandata" type="file" />
      <span class="input-group-btn">
	<button type="submit" name="scan" class="button btn btn-primary">Scan</button>	
      </span>
    </div>
  </div>
</form>


<section>
  {% if locations %}
  {{locations}}
  {% else %}
  
  
  {% endif %}
</section>

{% endblock %}
